@import "~bootstrap/scss/bootstrap";

html{
    height: 100%;
}

body{
    height: 100%;
}

.bg-hero{
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.wrapper-preview{
    height: calc(100% - 56px);
}